# Backup files
*.*~

# Maven
target/

# Eclipse IDE
.classpath
.project
.settings

# NetBeans IDE
nb-configuration.xml
*.NavData

# VS Code-based IDEs
.vscode/

# IntelliJ IDEA IDE
.idea/
*.iml
*.ipr

# macOS
.DS_Store

# Red Hat OpenShift
deployments/

# Tommaso's personal scripting ;-)
remote-copy.sh
build-all.sh
