<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
    <!-- CONFIGURATION -->
    <distributable/>
    
    <session-config>
        <!-- in minutes -->
        <session-timeout>1</session-timeout>        
    </session-config>


    <!-- SERVLETS -->
    
    <!-- Session -->
    <servlet>
        <servlet-name>HttpSessionServlet</servlet-name>
        <servlet-class>org.jboss.test.clusterbench.web.session.HttpSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSessionServlet</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GranularHttpSessionServlet</servlet-name>
        <servlet-class>org.jboss.test.clusterbench.web.session.GranularHttpSessionServlet</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>GranularHttpSessionServlet</servlet-name>
        <url-pattern>/granular</url-pattern>
    </servlet-mapping>
    
    <!-- EJB -->
    <servlet>
        <servlet-name>LocalEjbServlet</servlet-name>
        <servlet-class>org.jboss.test.clusterbench.web.ejb.LocalEjbServlet</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>LocalEjbServlet</servlet-name>
        <url-pattern>/ejb</url-pattern>
    </servlet-mapping>
    
    <!-- Load -->
    <servlet>
        <servlet-name>AverageSystemLoadServlet</servlet-name>
        <servlet-class>org.jboss.test.clusterbench.web.load.AverageSystemLoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AverageSystemLoadServlet</servlet-name>
        <url-pattern>/averagesystemload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MemoryUsageServlet</servlet-name>
        <servlet-class>org.jboss.test.clusterbench.web.load.MemoryUsageServlet</servlet-class>
    </servlet>
    </servlet-mapping>
        <servlet-name>MemoryUsageServlet</servlet-name>
        <url-pattern>/memoryusage</url-pattern>
    </servlet-mapping>
  
</web-app>
